/* Background colors */

.bg-green {
	background-color: $green;
}

.bg-green-80 {
	background-color: #60b1b3;
}

.bg-green-60 {
	background-color: #83c4c6;
}

.bg-green-40 {
	background-color: #aad7d9;
}

.bg-green-20 {
	background-color: #d4ebeb;
}

.bg-green-08 {
	background-color: #eef7f8;
}

.bg-pink {
	background-color: $pink;
}

.bg-pink-80 {
	background-color: #ef9ca5;
}

.bg-pink-60 {
	background-color: #f2b4bc;
}

.bg-pink-40 {
	background-color: #f6cdd1;
}

.bg-pink-20 {
	background-color: #fae6e8;
}

.bg-pink-08 {
	background-color: #fdf5f6;
}

.bg-blue {
	background-color: $blue;
}

.bg-blue-80 {
	background-color: #b3d8e1;
}

.bg-blue-60 {
	background-color: #c5e1e9;
}

.bg-blue-40 {
	background-color: #d8ebf0;
}

.bg-blue-20 {
	background-color: #ebf5f7;
}

.bg-blue-08 {
	background-color: #f8fcfd;
}

.bg-yellow {
	background-color: $yellow;
}

.bg-yellow-80 {
	background-color: #ebc694;
}

.bg-yellow-60 {
	background-color: #efd4ae;
}

.bg-yellow-40 {
	background-color: #f5e2c9;
}

.bg-yellow-20 {
	background-color: #fdfaf4;
}

.bg-yellow-08 {
	background-color: #f8fcfd;
}

.bg-gray {
	background-color: #d8d8d8;
}

.bg-gray-80 {
	background-color: #e0e0e0;
}

.bg-gray-60 {
	background-color: #e8e8e8;
}

.bg-gray-40 {
	background-color: #efefef;
}

.bg-gray-20 {
	background-color: #f7f7f7;
}

.bg-gray-08 {
	background-color: #fcfcfc;
}

/* Text colors */

.text-green {
	color: $green;
}

.text-green-80 {
	color: #60b1b3;
}
