.dropdown {
	.dropdown-toggle {
		i {
			&.icon-chevron-down {
				font-size  : 0.75em;
				margin-left: 0.5em;
			}
		}
	}

	.dropdown-menu {
		border        : none;
		padding-top   : 1rem;
		padding-bottom: 1rem;

		.dropdown-header {
			font-weight   : 600;
			text-transform: uppercase;
			color         : $gray-900;
			margin        : 1rem 0;
			font-size     : 0.8125rem;
		}

		.dropdown-item {
			&:active {
				background-color: transparent;
				color           : $primary;
			}

			&.dropdown-cap {
				display         : flex;
				align-items     : center;
				background-color: $bone;
				padding         : 1.25rem;
				margin-bottom   : 1rem;

				img {
					width       : 3.75rem;
					height      : 3.75rem;
					margin-right: 1rem;
				}

				.dropdown-cap-text {
					h4 {
						font-size    : 1.25rem;
						margin-bottom: 0.125rem;
					}

					p {
						margin-bottom: 0;
					}
				}

				&:hover {
					color: $gray-800;
				}
			}
		}

		.btn {
			margin: $dropdown-item-padding-y $dropdown-item-padding-x;
			width : calc(100% - (2 * #{$dropdown-item-padding-x}));

			&:last-of-type {
				margin-top   : 2 * $dropdown-item-padding-y;
				margin-bottom: 0;
			}
		}

		p {
			margin-bottom: 0;
		}
	}
}
