.custom-control {
	.custom-control-label {
		&::before {
			border          : 1px solid $gray-800;
			background-color: $white;
		}
	}
}

.subscribe-form {
	display  : flex;
	flex-wrap: wrap;

	.form-control {
		flex  : 1;
		height: 44px;

		@include media-breakpoint-down(md) {
			flex: 0 0 100%;
		}
	}

	.btn {
		@include media-breakpoint-down(md) {
			flex      : 0 0 100%;
			margin-top: 1.25rem;
		}
	}

	p.small {
		flex       : 0 0 100%;
		padding-top: 0.625rem;
		flex-basis : 100%;
		color      : $gray-800;

		a {
			text-decoration: underline;

			&:hover {
				color: $warning;
			}
		}
	}
}
