.custom-control {
	.custom-control-label {
		&::before {
			border          : 1px solid $gray-800;
			background-color: $white;
		}
	}
}

.form-control {
	flex  : 1;
	height: 46px;
}

.form-text {
	font-size: 0.75rem !important;
	color    : $gray-500;

	a {
		text-decoration: underline;
	}
}
