.h1,
h1 {
	margin-bottom: 1.25rem;

	@include media-breakpoint-down(sm) {
		font-size: 2.5rem;
	}
}

.h2,
h2 {

	@include media-breakpoint-down(sm) {
		font-size: 2.5rem;
	}
}

.h5,
h5 {
	font-family   : $font-family-sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

h6 {
	font-family   : $font-family-sans-serif;
	font-weight   : bold !important;
	color         : $gray-700;
	font-size     : 0.75rem;
	letter-spacing: 1px;
	text-transform: uppercase;
}

p {
	font-size: 0.9375rem;

	&:blank {
		display: none;
	}
}

a {
	transition: $transition-base;
}

/* Fancy underlines */
u {
	text-decoration: none;
	position       : relative;
	z-index        : 1;
	font-weight    : bold;
	color          : $gray-900;

	strong {
		font-weight: bold;
	}

	&::before {
		content         : '';
		height          : 5px;
		width           : 100%;
		position        : absolute;
		bottom          : 0;
		background-color: rgba($warning, .9);
		z-index         : -1;
	}
}

.lead {
	u {
		&::before {
			height: 9px;
		}
	}

	p {
		font-size  : 1.25rem;
		font-weight: normal;
	}
}

h1,
h2 {
	u {
		&::before {
			height: 1.25rem !important;
			bottom: 0.25rem !important;
		}
	}
}

::selection {
	background-color: rgba($gold, .6);
}

.arrow-link {
	transition: $transition-base;
	color     : $sea;

	.call-to-action {
		font-size  : 0.8125rem;
		font-weight: 600;
	}

	i {
		font-size  : 0.75rem;
		display    : inline-block;
		margin-left: 0.25rem;
		position   : relative;
		//top        : -1px;
		transition : $transition-base;
	}

	&:hover {
		text-decoration: none;

		i {
			transform: translateX(.5rem);
		}
	}
}

.testimonial-cta {
	color: $gray-700;
}

blockquote {
	&::before {
		content    : '\f10d';
		font-family: "Font Awesome 5 Pro";
		font-size  : 2.5rem;
		color      : $gold;
		display    : inline-block;
		margin     : 0 auto 1.25rem;
		font-weight: bold;
	}

	p {
		font-family: 'PT Serif', serif;
		font-size  : 1.875rem;
		color      : $gray-800;

		@include media-breakpoint-down(md) {
			font-size: 1.25rem;
		}
	}

	.blockquote-footer {
		font-size     : 0.8125rem;
		text-transform: uppercase;
		color         : $gray-900;
		letter-spacing: 0.5px;
		font-weight   : 600;
		font-family   : 'Poppins', sans-serif;

		&::before {
			display: none;
		}
	}
}

.highlight {
	position: relative;

	&::before {
		content : '';
		width   : 100%;
		height  : 1.25rem;
		position: absolute;
		bottom  : 0.25rem;
		opacity : 0.9;
		z-index : -1;
	}

	&.highlight-primary {
		&::before {
			background-color: $primary;
		}
	}

	&.highlight-success {
		&::before {
			background-color: $success;
		}
	}

	&.highlight-warning {
		&::before {
			background-color: $warning;
		}
	}

	&.highlight-danger {
		&::before {
			background-color: $danger;
		}
	}

	&.highlight-info {
		&::before {
			background-color: $info;
		}
	}
}

/* Barebones, fakey tooltip for help icons */
.help-icon-wrapper {
	position: relative;

	.help-icon {
		transition: $transition-base;
		font-size : 0.75rem !important;
		cursor    : pointer;

		@include media-breakpoint-down(sm) {
			position: absolute;
			top     : -1rem;
			left    : 0;
		}
	}

	.help-icon-tooltip {
		position        : absolute;
		background-color: rgba($gray-900, .9);
		padding         : 3px 8px 4px;
		color           : white !important;
		text-transform  : none;
		letter-spacing  : normal;
		font-weight     : normal;
		width           : 200px;
		z-index         : 99;
		top             : -4px;
		left            : 22px;
		pointer-events  : none;
		border-radius   : 0.125rem;
		opacity         : 0;
		transition      : $transition-base;
		white-space     : normal;

		&::before {
			content           : '';
			width             : 0.75rem;
			height            : 0.75rem;
			border            : 6px solid transparent;
			border-right-color: rgba($gray-900, .9);
			position          : absolute;
			left              : -12px;
			top               : 4px;
		}
	}

	&:focus,
	&:hover {
		.help-icon-tooltip {
			opacity: 1;
		}
	}
}

.badge {
	color         : $white !important;
	text-transform: uppercase;
	font-weight   : bold;
	font-size     : 0.8125rem;
	letter-spacing: 0.5px;
	padding       : 0.375rem 0.75rem;
	box-shadow    : $box-shadow;
}
