{{ define "main" }}

<body class="home">

	<div class="home-hero">
		{{ $heroId := .Params.HeroHeading.id}}
		{{ partial "section.html" (dict "This" . "Site" $.Site "Id" $heroId) }}
	</div>

	{{ partial "content.html" . }}

	<div class="home-insights">
		{{ partial "section.html" (dict "This" . "Site" $.Site "Id" .Params.blogHeading.id "White" true ) }}
		<div class="container pt-8 pb-8 pb-lg-11">
			<div class="insights card-deck">
				{{range $index, $el := where .Site.Pages "Type" "insights"}}
					{{if eq $index 1}}
						<!-- Most recent post is bigger -->
						<a href="{{.URL}}" class="insight-card card-lg card">
							<div class="card-img-bg" style="background-image: url({{.Params.image.url}});">
								{{ with .Site.GetPage .Params.category.id }}
									<span style="background-color:{{.Params.Color}}" class="shadow-none badge badge-pill">{{.Title}}</span>
								{{ end }}
							</div>
							<div class="card-body">
								<div class="card-title h5">{{.Title}}</div>
								<span class="arrow-link"><span class="call-to-action">Read More</span><i class="far fa-arrow-right"></i></span>
							</div>
						</a>
					{{end}}
					{{if and (gt $index 1) (lt $index 5) }}
						<!-- Next three posts use this styling -->
						<a href="{{.URL}}" class="insight-card card">
							<div class="card-img-bg" style="background-image: url({{.Params.image.url}});">
								{{ with .Site.GetPage .Params.category.id }}
									<span style="background-color:{{.Params.Color}}" class="shadow-none badge badge-pill">{{.Title}}</span>
								{{ end }}
							</div>
							<div class="card-body">
								<div class="card-title h5">{{.Title}}</div>
								<span class="arrow-link"><span class="call-to-action">Read More</span><i class="far fa-arrow-right"></i></span>
							</div>
						</a>
					{{end}}
				{{end}}




				<!-- Lastly, there's one TestimonialCard -->
				{{ $testimonialCards := .Site.GetPage "testimonialCards"  }}
				{{ with first 1 $testimonialCards.Resources  }}
					{{ range . }}
						<div class="testimonial-card card">
								<div class="card-body">
									<div class="testimonial-quote">
										<blockquote>
											<p>{{.Params.quote}}</p>
											<footer class="blockquote-footer">{{.Params.quoteAuthor}}</footer>
										</blockquote>
									</div>
									<div class="testimonial-cta">
										{{ $buttons := .Site.GetPage "buttons"  }}
										{{ $button := printf "%s%s" .Params.button.id "/*" }}
										{{ with $buttons.Resources.Match $button }}
											{{ range . }}
												<a class="btn btn-warning mt-lg-5 mb-3" href="{{.Params.link}}">{{.Params.label}}</a>
											{{ end }}
										{{ end }}
									</div>
								</div>
							</div>
						</div>
					{{ end }}
				{{ end }}

				<p class="text-center mt-5 mb-0">
					<a class="arrow-link text-white" href="/articles/latest">
						<span class="call-to-action">All Insights</span>
						<i class="far fa-arrow-right"></i>
					</a>
				</p>

	</div>

</body>
{{ end }}
