{{ define "main" }}
{{ $url := printf "%s" .URL | absLangURL }}
{{$currentInsightCategoryId := .Params.category.id}}
{{$currentInsightTitle := .Title }}

<body class="blog">
	<div class="blog-single bg-white">
		<div class="blog-layout container">

			<div class="row">
				<div class="col">
					<div class="blog-header">
						<h1>{{ .Title }}</h1>
						<div class="blog-meta">
							<span>Insights</span>
							<span>{{ .PublishDate.Format "January 2, 2006" }}</span>
							{{ partial "categoryPill.html" (dict "This" . "Site" $.Site "Id" .Params.category.id) }}
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-12 order-lg-0 order-1">
					{{ partial "author.html" (dict "This" . "Site" $.Site "Id" .Params.author.id) }}
					<div class="blog-share">
						<h3>Share this insight</h3>
						<a href="http://www.facebook.com/sharer.php?u={{ $url }}"><i class="fab fa-facebook-f"></i></a>
						<a href="http://twitter.com/share?text={{ .Title }}&url={{ $url }}"><i class="fab fa-twitter"></i></a>
						<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ $url }}&title={{ .Title }}&source=Signum
"><i class="fab fa-linkedin-in"></i></a>
						</ul>
					</div>
				</div>
				<div class="col-lg-9 col-12 order-lg-1 order-0">
					<div class="blog-content">
						<div class="blog-hero rounded" style="background-image: url('{{.Params.image.url}}')"></div>
						{{ partial "rich-text.html" (dict "This" .Params.content "Site" $.Site) }}
					</div>
				</div>
			</div>

		</div>

		<div class="bg-dark py-8 py-lg-11">
			<div class="container">
				<div class="justify-content-md-center text-center row">
					<div class="pb-8 pb-lg-10 col-md-8">
						<h2 class="mb-7 text-warning">You might also like these insights</h2>
					</div>
				</div>
			</div>
			<div class="container-fluid">
				<div class="carousel carousel-slider">

					{{ range first 5 (where .Site.Pages "Type" "insights") }}

					{{ if and (ne .Title $currentInsightTitle) (ne .Title "Insights") }}
					<div class="insight-card card">
						<div class="card-img-bg" style="background-image: url({{.Params.image.url}});">
							{{if .Params.category.id}}
							{{ partial "categoryPill.html" (dict "This" . "Site" $.Site "Id" .Params.category.id) }}
							{{end}}
						</div>
						<div class="card-body">
							<a class="card-title" href="{{.URL}}">{{.Title}}</a>
							<a class="arrow-link" href="{{.URL}}">
								<span class="call-to-action">Read More</span>
								<i class="far fa-arrow-right"></i>
							</a>
						</div>
					</div>
					{{end}}
					{{end}}
				</div>

			</div>
		</div>
	</div>
</body>
{{ end }}