{{ define "main" }}
{{ $url := printf "%s" .URL | absLangURL }}
<body class="blog">
	<div class="blog-single bg-white">
		<div class="blog-layout container">

			<div class="row">
				<div class="col">
					<div class="blog-header">
						<h1>{{ .Title }}</h1>
						<div class="blog-meta">
							<span>Insights</span>
              <span>{{ .PublishDate.Format "January 2, 2006" }}</span>
							<a href="#" class="badge badge-pill badge-warning">{{ partial "categoryPill.html" (dict "This" . "Site" $.Site "Id" .Params.category.id) }}</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-12 order-lg-0 order-1">
					{{ partial "author.html" (dict "This" . "Site" $.Site "Id" .Params.author.id) }}
					<div class="blog-share">
						<h3>Share this insight</h3>
						<a href="http://www.facebook.com/sharer.php?u={{ $url }}"><i class="fab fa-facebook-f"></i></a>

						<a href="http://twitter.com/share?text={{ .Title }}&url={{ $url }}"><i class="fab fa-twitter"></i></a>
						<a href="#"><i class="fab fa-linkedin-in"></i></a>
						</ul>
					</div>
				</div>
				<div class="col-lg-9 col-12 order-lg-1 order-0">
					<div class="blog-content">
						<div class="blog-hero rounded" style="background-image: url('{{.Params.image.url}}')"></div>
						{{ partial "rich-text.html" (dict "This" .Params.content "Site" $.Site) }}
					</div>
				</div>
			</div>

		</div>

		<div class="bg-dark py-8 py-lg-11">
			<div class="container">
				<div class="justify-content-md-center text-center row">
					<div class="pb-8 pb-lg-10 col-md-6">
						<h3 class="mb-7 text-warning">You might also like these insights</h3>
						<form class="subscribe-form">
							<input class="form-control" placeholder="Get market signals in your inbox" value="">
							<button type="button" class="ml-0 ml-lg-3 btn btn-primary">Subscribe</button>
							<p class="small text-white">By subscribing, you agree to our <a href="#">privacy policy</a>.</p>
						</form>
					</div>
				</div>
			</div>
			<div>
				<p class="text-center">Card carousel goes here</p>
			</div>
		</div>
	</div>
</body>
{{ end }}