{{ $navbar := .Site.GetPage "footer"  }}
{{ with $navbar.Resources }}
{{ range . }}
<div class="footer container">
	<div class="footer-top">
		{{range .Params.sections}}
			{{ partial "section.html" (dict "This" . "Site" $.Site "Id" .id) }}
		{{end}}
	</div>

	<div class="footer-links row">
		{{range .Params.menus}}
			{{ partial "footer-menu.html" (dict "This" . "Site" $.Site "Id" .id "Menu" "Footer") }}
		{{end}}
	</div>
	<div class="footer-baseline row">
		<div class="col-xl-8">
			<ul class="list-inline">
				<li class="list-inline-item">{{.Params.Colophon}}</li>
				{{range .Params.colophonMenu}}
					<code>show the menu!</code>
				{{end}}
			</ul>
		</div>
		<div class="col">
			<ul class="list-inline footer-baseline-social">
				<li class="list-inline-item"><a href="https://www.facebook.com/ExegyMarketData"><img src="/facebook.svg"></a></li>
				<li class="list-inline-item"><a href="https://twitter.com/exegymarketdata?lang=en"><img src="/twitter.svg"></a></li>
				<li class="list-inline-item"><a href="https://www.linkedin.com/company/exegy"><img src="/linkedin.svg"></a></li>
				<li class="list-inline-item"><a href="https://medium.com"><img src="/medium.svg"></a></li>
			</ul>
		</div>
	</div>
</div>


<script src="/js/jquery.js"></script>
<script src="/js/popper.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/papaparse.js"></script>
<script src="https://momentjs.com/downloads/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
<script src="/js/main.js"></script>
{{ end }}
{{ end }}
