{{ $navbar := .Site.GetPage "footer"  }}
{{ with $navbar.Resources }}
{{ range . }}
<div class="footer container">
	<div class="footer-top">
		{{range .Params.sections}}
			{{ partial "section.html" (dict "This" . "Site" $.Site "Id" .id) }}
		{{end}}
	</div>

	<div class="footer-links row">
		{{range .Params.menus}}
			{{ partial "footer-menu.html" (dict "This" . "Site" $.Site "Id" .id "Menu" "Footer") }}
		{{end}}
	</div>
	<div class="footer-baseline row">
		<div class="col-xl-8">
			<p>{{.Params.Colophon}}</p>
			{{ $menus := .Site.GetPage "menus"  }}
			{{ $menu := printf "%s%s" .Params.colophonMenu.id "/*" }}
			{{ with $menus.Resources.Match $menu }}
				{{ range . }}
					{{ partial "rich-text.html" (dict "This" .Params.content "Site" $.Site) }}
				{{ end }}
			{{ end }}
		</div>
		<div class="col">
			<div class="footer-baseline-social">
				{{range .Params.Icons}}
					{{ partial "rich-text/embedded-entry-blocks/icon.html" (dict "This" . "Site" $.Site "Id" .id ) }}
				{{end}}
			</div>
		</div>
	</div>
</div>


<script src="/js/jquery.js"></script>
<script src="/js/popper.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/papaparse.js"></script>
<script src="https://momentjs.com/downloads/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
<script src="/js/main.js"></script>
{{ end }}
{{ end }}
