<head>
	<title>{{ .Title }}</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Social meta tags -->
	<meta property="og:title" content="{{.Params.title}}">
	<meta property="og:description" content="{{.Params.description}}">
	<meta property="og:image" content="{{.Params.image.url}}">
	{{ $url := printf "%s" .URL | absLangURL }}
	<meta property="og:url" content="{{ $url }}">
	<meta name="twitter:card" content="summary_large_image">

	{{ $style := resources.Get "styles/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
	<link rel="stylesheet" href="{{ $style.Permalink }}">

	<script src="https://kit.fontawesome.com/b0c5210a04.js" crossorigin="anonymous"></script>

	{{ range .AlternativeOutputFormats -}}
	{{ printf `<link rel="%s" type="%s+%s" href="%s" title="%s" />` .Rel .MediaType.Type .MediaType.Suffix .Permalink $.Site.Title | safeHTML }}
	{{ end -}}

</head>