{{ $navbar := .Site.GetPage "navbar"  }}
{{ with $navbar.Resources }}
	{{ range . }}
	<div class="header-div">
		<div class="header container">
			<nav class="navbar navbar-expand-lg navbar-light">
				<a href="/" class="navbar-brand">
					<img src="{{.Params.logo.url}}">
				</a>
				<button aria-controls="basic-navbar-nav" type="button" aria-label="Toggle navigation" class="navbar-toggler">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse" id="basic-navbar-nav">
					<div class="navbar-nav">
						{{ $menus := .Site.GetPage "menus"  }}
						{{range .Params.menus}}
							{{ $resource := printf "%s%s" .id "/*" }}
							{{ with $menus.Resources.Match $resource }}
								{{ range . }}
									{{ partial "menu.html" . }}
								{{ end }}
							{{ end }}
						{{end}}

						{{ $button := .Site.GetPage "buttons"  }}
						{{range .Params.button}}
							Button!
						{{end}}
					</div>
				</div>
			</nav>
		</div>
	</div>
	{{ end }}
{{ end }}
