{{ $headless := .Site.GetPage "sections"  }}

{{ $resource := printf "%s%s" .Params.HeroHeading.id "/*" }}

{{ with $headless.Resources.Match $resource }}
	{{ range . }}

		<!-- This is a Section, but it doesn't have a white BG like other sections -->
		<div class="py-8 py-lg-11">
			<div class="container">
				<div class="justify-content-md-center row">
					{{ with .Params.column1Content }}
						<div class="col">
							{{ partial "rich-text.html" (dict "This" . "Site" $.Site) }}
						</div>
					{{ end }}
					{{ with .Params.column2Content }}
						<div class="col">
							{{ partial "rich-text.html" (dict "This" . "Site" $.Site) }}
						</div>
					{{ end }}
					{{ with .Params.column3Content }}
						<div class="col">
							{{ partial "rich-text.html" (dict "This" . "Site" $.Site) }}
						</div>
					{{ end }}
					{{ with .Params.column4Content }}
						<div class="col">
							{{ partial "rich-text.html" (dict "This" . "Site" $.Site) }}
						</div>
					{{ end }}
				</div>
			</div>
		</div>
	{{ end }}

{{ end }}
