<div class="dropdown nav-item">
  <a aria-haspopup="true" aria-expanded="false" href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button">{{.Title}}</a>
  <div class="dropdown-menu" aria-labelledby="">
    <a href="" class="dropdown-cap dropdown-item">
      <div class="dropdown-cap-text">
        <h4>{{.Title}}</h4>
        <p>{{.Params.Subtitle}}</p>
      </div>
    </a>
    <span>
      {{ partial "rich-text.html" (dict "This" .Params.content "Site" $.Site "Menu" true) }}
    </span>
  </div>
</div>