{{ $headless := .Site.GetPage "sections"  }}

{{ $resource := printf "%s%s" .Id "/*" }}

{{ with $headless.Resources.Match $resource }}
	{{ range . }}
		{{$narrowColumn := .Params.narrowColumn }}

		<div class="{{if eq .Params.removePadding "Remove top padding"}} pb-8 pb-lg-11 {{ else if eq .Params.removePadding "Remove bottom padding" }} pt-8 pt-lg-11 {{ else if eq .Params.removePadding "Remove both" }} py-0 {{ else }} py-8 py-lg-11{{ end }}">
			<div class="container {{if .Params.biggerParagraphText}}lead{{ end }}">
				<div class="justify-content-md-center row {{if .Params.centerAlignText}}text-center{{ end }}">
					{{ with .Params.column1Content }}
						<div class="col {{if $narrowColumn}}col-lg-8{{ end }}">
							{{- partial "rich-text.html" (dict "This" . "Site" $.Site) -}}
						</div>
					{{ end }}
					{{ with .Params.column2Content }}
						<div class="col">
							{{- partial "rich-text.html" (dict "This" . "Site" $.Site) -}}
						</div>
					{{ end }}
					{{ with .Params.column3Content }}
						<div class="col">
							{{- partial "rich-text.html" (dict "This" . "Site" $.Site) -}}
						</div>
					{{ end }}
					{{ with .Params.column4Content }}
						<div class="col">
							{{- partial "rich-text.html" (dict "This" . "Site" $.Site) -}}
						</div>
					{{ end }}
				</div>
			</div>
		</div>
	{{ end }}

{{ end }}
