{{ $headless := .Site.GetPage "buttons"  }}
{{ $resource := printf "%s%s" .Id "/*" }}
{{ with $headless.Resources.Match $resource }}
	{{ range . }}
		{{ $label := .Params.label }}
		{{ $link := .Params.link }}
		{{ $color := .Params.type }}
		{{ $size := .Params.size }}
		{{ $block := .Params.fullWidthButton }}
		{{ with .Params.link}}
			<a href="{{$link}}" class="btn btn-{{$color}} btn-{{$size}} {{if $block}}btn-block{{ end }}">
				{{ $label }}
			</a>
		{{ else }}
		{{ end }}
	{{ end }}
{{ end }}
