{{ $headless := .Site.GetPage "chartExplorers"  }}
{{ $resource := printf "%s%s" .Entry.id "/*" }}

{{ with $headless.Resources.Match $resource }}

{{ range . }}
<div class="chart-explorer container">
	<ul class="nav nav-tabs pt-8 px-lg-6 align-items-end row">
			{{/*  {{.Params.tab1chartcard.id}}  */}}
		<!-- Tab 1 -->
		{{ with .Params.tab1Content }}
		<li class="col-md-4 col-12 nav-item">
			<a class="nav-link active" href="#tab-1" data-toggle="tab">

				{{ partial "rich-text.html" (dict "This" . "Site" $.Site) }}
				<i class="far fa-arrow-down"></i>
			</a>
		</li>
		{{ end }}
		{{ with .Params.tab2Content }}
		<li class="col-md-4 col-12 nav-item">
			<a class="nav-link" href="#tab-2" data-toggle="tab">
				{{ partial "rich-text.html" (dict "This" . "Site" $.Site) }}
				<i class="far fa-arrow-down"></i>
			</a>
		</li>
		{{ end }}
		{{ with .Params.tab3Content }}
		<li class="col-md-4 col-12 nav-item">
			<a class="nav-link" href="#tab-3" data-toggle="tab">
				{{ partial "rich-text.html" (dict "This" . "Site" $.Site) }}
				<i class="far fa-arrow-down"></i>
			</a>
		</li>
		{{ end }}
	</ul>

	<div class="chart-card testimonial-card card">
		<div class="card-body">
			<div class="tab-content">
				<div id="tab-1" class="tab-pane show active">
					<a class="chart-card-overlay-open" href="#" style="display:none;">About this data</a>
					<div class="chart-card-overlay">
						<a class="chart-card-overlay-close overlay-close"><i class="far fa-times"></i></a>
						{{ with .Params.tab1Overlay }}
							{{ partial "rich-text.html" (dict "This" . "Site" $.Site) }}
						{{ end }}
						<button type="button" class="btn btn-warning overlay-close">See the data <i class="far fa-arrow-right"></i></button>
					</div>
					{{ partial "rich-text/embedded-entry-blocks/chartCard.html" (dict "This" . "Site" $.Site "Id" .Params.tab1ChartCard.id) }}
				</div>

				<div id="tab-2" class="tab-pane">
					<a class="chart-card-overlay-open" href="#" style="display:none;">About this data</a>
					<div class="chart-card-overlay">
						<a class="chart-card-overlay-close overlay-close"><i class="far fa-times"></i></a>
						{{ with .Params.tab2Overlay }}
							{{ partial "rich-text.html" (dict "This" . "Site" $.Site) }}
						{{ end }}
						<button type="button" class="btn btn-warning overlay-close">See the data <i class="far fa-arrow-right"></i></button>
					</div>
					{{ partial "rich-text/embedded-entry-blocks/chartCard.html" (dict "This" . "Site" $.Site "Id" .Params.tab2ChartCard.id) }}
				</div>

				<div id="tab-3" class="tab-pane">
					<a class="chart-card-overlay-open" href="#" style="display:none;">About this data</a>
					<div class="chart-card-overlay">
						<a class="chart-card-overlay-close overlay-close"><i class="far fa-times"></i></a>
						{{ with .Params.tab3Overlay }}
							{{ partial "rich-text.html" (dict "This" . "Site" $.Site) }}
						{{ end }}
						<button type="button" class="btn btn-warning overlay-close">See the data <i class="far fa-arrow-right"></i></button>
					</div>
					{{ partial "rich-text/embedded-entry-blocks/chartCard.html" (dict "This" . "Site" $.Site "Id" .Params.tab3ChartCard.id) }}
				</div>

				<hr class="testimonial-hr">
				{{ partial "rich-text/embedded-entry-blocks/testimonialCard.html" (dict "This" . "Site" $.Site "Id" .Params.testimonialCard.id) }}

			</div>
		</div>


	</div>

</div>
{{ end }}
{{ end }}
