{{ $headless := .Site.GetPage "chartExplorers"  }}
{{ $resource := printf "%s%s" .Entry.id "/*" }}

{{ with $headless.Resources.Match $resource }}
	{{ range . }}
		<div class="chart-explorer container">
			<ul class="nav nav-tabs pt-8 px-6 align-items-end row">

				<!-- Tab 1 -->
				<li class="col-md-4 col-12 nav-item">
					<a class="nav-link active">
						{{ with .Params.tab1Content }}
							{{ partial "rich-text.html" (dict "This" . "Site" $.Site) }}
						{{ end }}
						<i class="far fa-arrow-down"></i>
					</a>
				</li>
				<li class="col-md-4 col-12 nav-item">
					<a class="nav-link">
						{{ with .Params.tab2Content }}
							{{ partial "rich-text.html" (dict "This" . "Site" $.Site) }}
						{{ end }}
						<i class="far fa-arrow-down"></i>
					</a>
				</li>
				<li class="col-md-4 col-12 nav-item">
					<a class="nav-link">
						{{ with .Params.tab3Content }}
							{{ partial "rich-text.html" (dict "This" . "Site" $.Site) }}
						{{ end }}
						<i class="far fa-arrow-down"></i>
					</a>
				</li>
			</ul>
			<div class="chart-card testimonial-card card">
				<div class="card-body">
					<div class="chart-card-overlay"><a class="chart-card-overlay-close"><i class="far fa-times"></i></a>
						<h2>Grab a bigger slice of the spread!</h2>
						<p class="lead">Signum's accurate prediction of next quote price direction - Quote Vector - allows market makers to consistently reap handsome returns. How handsome? Millions of dollars per day and over two billion dollars per year are
							achievable in the US equities market.</p><button type="button" class="btn btn-warning">See the data <i class="far fa-arrow-right"></i></button>
					</div>
					<div class="card-title h5">Net Price Improvement for Market Makers</div>
					<div class="chart-wrapper">
						<div class="chartjs-size-monitor">
							<div class="chartjs-size-monitor-expand">
								<div class=""></div>
							</div>
							<div class="chartjs-size-monitor-shrink">
								<div class=""></div>
							</div>
						</div>
						<canvas height="760" width="2060" class="chartjs-render-monitor" style="display: block; height: 380px; width: 1030px;"></canvas>
					</div>
					<ul class="chart-legend">
						<li><span class="bg-green"></span> Theoretical Net Gains (at 50% Threshold)</li>
					</ul>
					<hr class="testimonial-hr">
					<div class="row">
						<div class="testimonial-cta mb-4 mb-lg-0 col-lg-4">
							<a class="btn btn-primary btn-lg mb-3" href="/demo-signup">Demo data</a>
						</div>
						<div class="testimonial-quote col">
							<blockquote>
								<p>"Signum is unique and it's a game-changer. Nobody else is delivering these types of predictions in real-time with this level of accuracy."</p>
								<footer class="blockquote-footer">Managing director at global bank</footer>
							</blockquote>
						</div>
					</div>
				</div>
			</div>
		</div>
	{{ end }}
{{ end }}
