{{ $headless := .Site.GetPage "faqs"  }}
{{ $resource := printf "%s%s" .Entry.id "/*" }}
{{ if eq .Menu "Header" }}
	{{ with $headless.Resources.Match $resource }}
		{{ range . }}
			{{ $anchorLink := .Params.question | urlize }}
			<a href="/faqs/#{{$anchorLink}}" class="dropdown-item scrollTo">{{.Params.Question}}<span class="ml-2 badge badge-pill badge-info"></span></a>
		{{ end }}
	{{ end }}
{{ else }}
	{{ with $headless.Resources.Match $resource }}
		{{ range . }}
			{{ $anchorLink := .Params.question | urlize }}
			<div class="faq-item" id="{{$anchorLink}}">
				<a href="#{{$anchorLink}}-answer" data-toggle="collapse" class="faq-question collapsed">
					<h3>{{.Params.Question}}</h3>
				</a>
				<div class="faq-answer collapse" id="{{$anchorLink}}-answer">
					{{ partial "rich-text.html" (dict "This" .Params.answer "Site" $.Site) }}
				</div>
			</div>
		{{ end }}
	{{ end }}
{{ end }}
