{{ $headless := .Site.GetPage "faqs"  }}
{{ $resource := printf "%s%s" .Entry.id "/*" }}
{{ if .Menu }}
	{{ with $headless.Resources.Match $resource }}
		{{ range . }}
			<a onclick="jump()" href="/faqs/#{{.Params.Slug}}" class="dropdown-item">{{.Params.Question}}<span class="ml-2 badge badge-pill badge-info"></span></a>
		{{ end }}
	{{ end }}
{{ else }}
	{{ with $headless.Resources.Match $resource }}
		{{ range . }}
			<div class="faq-item" id="{{.Params.slug}}">
				<a href="#{{.Params.slug}}-answer" data-toggle="collapse" class="faq-question collapsed">
					<h3>{{.Params.Question}}</h3>
				</a>
				<div class="faq-answer collapse" id="{{.Params.slug}}-answer">
					{{ partial "rich-text.html" (dict "This" .Params.answer "Site" $.Site) }}
				</div>
			</div>
		{{ end }}
	{{ end }}
{{ end }}
